# Ignore OneDrive and system directories
/../
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
*.log
*.tmp

# Ignore OneDrive syncing metadata
*.ini
